  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
  <nav>
    <a href="/">Homecooked</a>
    <a href="/buyers">I'm Cravin'</a>
    <a href="/sellers">I'm Cookin'</a>
    <a href="/new">Add A Dish</a>

    <% if (user) { %>
      <div class="dropdown">
        <button class="dropdown-button" type="button">
          <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar">
          <span id="dropdown-username"><%=user.profile.name%></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/:id/profiles">View Profile</a>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        <div>
      </div>
  
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
