<%- include('./partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/welcome.css">

</head>

<body>
    <div class="grid-container">
        <div class="welcome-logo">
            <img src="/images/logo.png">
        </div>
        <div class="welcome-header">
            <p>Welcome to</p>
            <h1><span id="header-home">Home</span><span id="header-cooked">Cooked!</span></h1>
        </div>
        <div class="welcome-info">
            <p>Something something the taste of home so nice, so lovely. Get authentic food, ya know.</p>
        </div>
        <div class="enter-buttons">
            <a href="/dishes/buyers">Explore the Cravings</a>
            <a href="/dishes/sellers">Check Out the Meals</a>
        </div>
    </div>

    <%- include('./partials/footer') %>