<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>New Dish Page!</h1>
  <form action="class="new-dish-form">

  </form>
</main>

<%- include('./partials/footer') %>
