body {
    background: url("/images/buyers.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;

}

.buyer-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

