nav {
    /* background-color: #FFEECA; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-home {
    color: #fc8d94;
}
#header-cooked {
    color: #9fcaf4;
}

#left-nav > a {
    text-decoration: none;
    font-size: 4.5vmin;
    font-weight: bold;
    text-shadow:0.1vmin 0.1vmin #475057;

    
}

#home-img {
    width: 10vmin;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#right-nav > a{
    text-decoration: none;
    font-size: large;
    height: 8vmin;
    line-height: 8vmin;
    color: black;    
}

#right-nav > a:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: rgb(255, 194, 64);
}

.nav-tab {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    padding: 1vmin 1vmin;
    margin: 0 0.5vmin;
    border-radius: 10%;
}

/* .nav-tab:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: green;

} */




/* Dropdown Button */
.dropdown-button {
    background-color: #fc8d94;
    color: white;
    padding: 1vmin;
    font-size: 1.5vmin;
    border: none;
  
}

.dropdown-button > img {
    vertical-align: middle;
    border-radius: 50%;
    width: 5vmin;
}

#dropdown-username {
    padding: 0 0 0 0.75vmin;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;

    background-color: #f1f1f1;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  

}

/* Links inside the dropdown */
.dropdown-menu a {
    color: black;
    display: block;
    padding: 12px 16px;
    font-size: 1.5vmin;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {background-color: #3e8e41;}