body {
    background: url("/images/newbg.png") no-repeat center center fixed;
    background-size: cover;
    height: 80%;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vmin;
}

.btn {
    padding: 1vmin 1vmin;
    font-size: 1.75vmin;
    border-radius: 10px;
}

.btn-group {
    max-width: 90%;
    margin: 2vmin 0 0 0;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: rgb(255, 255, 255);
    background-color: rgb(236, 177, 47);
    border-color: rgb(236, 177, 47);
    box-shadow: 0 0 0 0.25rem rgb(255, 221, 148);
}

.btn-outline-primary {
    color:  rgb(236, 177, 47); 
    border-color: rgb(236, 177, 47);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: rgb(240, 189, 80);
    border-color:  rgb(236, 177, 47);
}

.new-dish-content > * {
    width: 100%;
    transition: width 0.4s ease-in-out;
}

textarea {
    height: 200px;
}


#price-range-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.price-input {
    width: 90px;
}

button {
    border: 3px solid rgb(247, 223, 173);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px rgb(247, 223, 173);
    border-radius: 7px;
}

/* .btn-outline-primary {
    background-color: black;
}

.btn-outline-primary:checked{
    background-color: white;
} */


/* .button {
    display: inline-block;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding: 1vmin 1vmin;
    border-radius: 5%;
}

.button-group {
    position: relative;
    display: inline-flex;

}

.radio-button {
    position: relative;
    flex: 1 1 auto;
}

.button:checked,
.button:focus,
.button:active,
.button:hover{
    z-index: 1;
    background-color: blue;
}

input[type=radio]{
    display: none;
} */
