/* .button {
    display: inline-block;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding: 1vmin 1vmin;
    border-radius: 5%;
}

.button-group {
    position: relative;
    display: inline-flex;

}

.radio-button {
    position: relative;
    flex: 1 1 auto;
}

.button:checked,
.button:focus,
.button:active,
.button:hover{
    z-index: 1;
    background-color: blue;
}

input[type=radio]{
    display: none;
} */