body {
    background: url("/images/sellers.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.buyer-card {
    box-shadow: 8px 8px 0 0 rgb(195, 219, 250);
    border: 3px solid rgb(214, 214, 214);
}

.dish-link:hover {
    color: rgb(127, 177, 241);
}



