body {
    background: url("/images/dishpage.png") no-repeat center center fixed;
    background-size: cover;
    height: 80%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 2vmin;
    width: 80%;
    height: 80%;
    border-radius: 7px;
    padding: 1vmin;
    margin: 3vmin auto 0 auto;
}

#page-start {
    margin: 3.5vmin 0 0 0;
}

#dish-name {
    font-size: 5vmin;
}

#user-link {
    color: black;
    text-decoration: none;
}

#user-link:hover {
    color: rgb(255, 193, 100);
}

#user-img {
    vertical-align: middle;
    border-radius: 50%;
    width: 6.5vmin;
    margin: 1vmin;
}

.dish-content {
    margin: 1vmin 2vmin 2vmin 2vmin;
    height: 50vmin;
    overflow-y: auto;
}

#dish-description {
    margin: 3vmin 0 0 0;
    font-weight: bold;
}

.comment-cards {
    display: flex;
    flex-flow: row wrap;
}

.comment-container {
    display: flex;
    flex-direction: row;
    border: 0.5vmin solid rgb(247, 223, 173);
    border-radius: 7px;
    padding: 0.5vmin;
    margin: 1vmin;
}

.comment-content{
    margin: auto 0 auto 1vmin;
}

.comment-content > p{
    font-size: 1.5vmin;
    margin: 0;
}

#comment-form-container {
    text-align: center;
}

#add-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vmin;
}

#edit-dish-a {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(247, 223, 173);
    border-radius: 7px;
    box-shadow: 1px 1px rgb(247, 223, 173);
    padding: 1px 6px 1px 6px;
    margin: 1vmin 0 0 0;
}

button {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px rgb(247, 223, 173);
    border: 3px solid rgb(247, 223, 173);
    border-radius: 7px;
    margin: 1vmin 0 0 0;
}


