body {
    background: url("/images/homecookedbg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: [col0] 10% [col1] 25% [col2] 10% [col3] 10% [col4] 20% [col5] 15% [col6] 15%;
    grid-template-rows: [row0] 20% [row1] 15% [row2] 25% [row3] 20% [row4] 20%;
    gap: 0px 0px;
    height: 100vh;
}

.welcome-logo {
    grid-area: row1 / col1 / row4 / col3;
}

.welcome-logo > img { 
    max-width: 100%; 
    height: auto; 
    align-self: center;
}

.welcome-header {
    grid-area: row1 / col2 / row2 / col6;
}

.welcome-header > p {
    font-size: 2vw;
    text-align: left;
    padding: 0 0 0 19vmin;
    margin: 0 0 -3vmin 0;
}

.welcome-header > h1 {
    max-width: 100%;
    max-height: 100%;
    font-size: 8vw;
    text-align: center;
    text-shadow:0.3vmin 0.3vmin #788996;
    padding: 0 0 0 17vmin;
}

#header-home {
    color: #fc8d94;
}

#header-cooked {
    color: #9fcaf4;
}

.welcome-info {
    grid-area: row2 / col3 / row3 / col6;
    align-self:flex-start;
    justify-self: left;
}

.welcome-info > p {
    color: #484d52;
    font-size: 2vw;
    text-align: left;
    padding: 5vmin 0 0 7vmin;
}

.enter-buttons {
    grid-area: row3 / col3 / row4 / col6;
    align-self:flex-start;
    justify-self: center;
    margin: 0 0 0 4vmin;
}

.enter-buttons > a {
    font-size: 1.5vw;
    color: #484d52;
    text-decoration: none;
    background-color: #ffe46a; 
    border: 1vmin solid #ffe46a;
    border-radius: 10%;
    margin: 0 1vmin;
}

.enter-buttons > a:hover {
    background-color: #ffd57c; 
    border: 1vmin solid #ffd57c;
}