<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/newDishForm.css">

<main>
  <h1>New Dish Page! [Add roles to all views]</h1>
  <form action="/dishes" method="POST" class="new-dish-form" role="form">
    <input type="text" name="isActive" value="true" hidden>
    <!-- <div class="button-group" role="button">
      <input type="radio" class="radio-button" id="radio-button1" autocomplete="off" checked>
      <label class="button" for="radio-button1">I'M CRAVING IT</label>

      <input type="radio" class="radio-button" id="radio-button2" autocomplete="off">
      <label class="button" for="radio-button2">I'M COOKING IT</label>
    </div> -->
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="isBuy" id="btnradio1" autocomplete="off" checked value="true">
      <label class="btn btn-outline-primary" for="btnradio1">I'M CRAVING IT</label>

      <input type="radio" class="btn-check" name="isBuy" id="btnradio2" autocomplete="off" value="false">
      <label class="btn btn-outline-primary" for="btnradio2">I'M COOKING IT</label>
    </div><br>
    <label class="form-labels">Dish Name:
      <input type="text" name="name" autocomplete="off">
    </label><br>
    <label class="form-labels">Description:
      <input type="text" name="description" autocomplete="off" autocapitalize="on">
    </label><br>
    <label class="form-labels">Price Range:
      <input type="number" name="min" placeholder="min"> 
        -
      <input type="number" name="max" placeholder="max">
    </label><br>
    <button type="submit">Add Dish</button>
  </form>
</main>

<%- include('../partials/footer') %>




