<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 
<link rel="stylesheet" href="/stylesheets/cards.css">

<section>
    <h1>I'M CRAVIN'</h1>
    <div class="buyer-card">
        <div class="b-card-header"><b>Dish Name</b></div>
        <div class="b-card-content">
            <p><b>Description:</b>BLAH BLAH BLAH</p>
            <button type="submit" class="b-card-button">I Can Cook This!</button>
        </div>
    </div>
</section>

<%- include("../partials/footer") %> 