<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 
<link rel="stylesheet" href="/stylesheets/cards.css">

<h1>I'M CRAVIN'</h1>
<section class="cards">
    <div class="buyer-card">
        <div class="b-card-header"><b>Dish Name</b></div>
        <div class="b-card-content">
            <p><b>Description:</b>BLAH BLAH BLAH asldkjfhasdflkjweoiu mnx,cmvnuwhelaksdf;lkpqpwoielk zlxkcjvkldf Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et vel unde exercitationem maxime similique incidunt excepturi corrupti illum quae voluptatem quaerat earum reprehenderit dignissimos tempora architecto deserunt consectetur, quod a.</p>
            <button type="submit" class="b-card-button">I Can Cook This!</button>
        </div>
    </div>

    <div class="buyer-card">
        <div class="b-card-header"><b>Dish Name</b></div>
        <div class="b-card-content">
            <p><b>Description:</b>BLAH BLAH BLAH Lorem ipsum d adipisci, quaerat quos architecto et nobis?</p>
            <button type="submit" class="b-card-button">I Can Cook This!</button>
        </div>
    </div>

    <div class="buyer-card">
        <div class="b-card-header"><b>Dish Name</b></div>
        <div class="b-card-content">
            <p><b>Description:</b>BLAH BLAH BLAH</p>
            <button type="submit" class="b-card-button">I Can Cook This!</button>
        </div>
    </div>
</section>

<%- include("../partials/footer") %> 